<!DOCTYPE html>
<html>
    <head>
        {% block css %}
        {% endblock %}
        <!-- Solar bootstrap theme -->
        <link href="{{ url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{ url_for('static', filename='glyphs.css') }}" rel="stylesheet">
        <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
        <title>Build A Blog!</title>

        <style>
            body {
                padding-top: 65px;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="./">Build A Blog</a>
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse" id="navbarResponsive">
                    {% if not session %}
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="./signup"><i class="fas fa-user fa-fw"></i>Sign up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./login"><i class="fas fa-sign-in-alt fa-fw"></i>Login</a>
                        </li>
                    </ul>
                    {% else %}
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fas fa-user-circle fa-fw"></i>{{session["username"]}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./newpost"><i class="fas fa-plus-square fa-fw"></i>Create Post</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./logout"><i class="fas fa-sign-out-alt fa-fw"></i>Logout</a>
                        </li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </nav>
            
            
                
            
            {% block content %}
            {% endblock %} 
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>