{% extends "base.html" %}

{% block content %}

    <div class="row">
        <!-- All Posts -->
        <div class="col-lg-1"></div>
        {% for blog in blogs %}
            {% if loop.index0 % 4 == 0 %}
            <div class="col-lg-2"></div>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            {% endif %}
            <div class="col-lg-2">
                <a href="./blog?id={{blog.id}}" class="card text-white bg-success mb-3 ml-auto mr-auto" style="min-width: 18rem; max-width: 20rem; min-height: 15rem; max-height: 15rem; overflow: hidden;">
                    <div class="card-header justify-content-between d-flex align-items-center" style="min-height: 3rem; max-height: 3rem; overflow: hidden;">
                        <span class="mr-5">{{blog.title}}</span>
                        <span><i class="far fa-thumbs-up fa-fw"></i>{{blog.likes|length}}</span>
                    </div>
                    <div class="card-body">
                        <p class="card-text" style="max-height: 6rem; overflow: hidden;">{{blog.body}}</p>
                        <small>written by {{blog.user.user_name}}</small>
                    </div>
                </a>
            </div>
        {% endfor %}
        <div class="col-lg-2"></div>
    </div>
{% endblock %}