{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1>Browse Users</h1>
        </div>
    </div>
    <div class="row">
        {% if users|length < 5 %}
        <div class="col-md-5"></div>
        <div class="col-md-2">
            <div class="list-group">
                {% for i in range(users|length) %}
                    <a href="./blog?user_id={{users[i].id}}" class="list-group-item list-group-item-action list-group-item-info">
                        {{ users[i].user_name }}
                        <span class="badge badge-primary badge-pill">{{ users.posts|length }}</span>
                    </a>
                {% endfor %}
                </div>
        </div>
        <div class="col-md-5"></div>
        {% else %}
        <div class="col-md-1"></div>
        <div class="col-md-2">  
            <div class="list-group">
                {% for i in range(0, users|length // 5) %}
                <a href="./blog?user_id={{users[i].id}}" class="list-group-item list-group-item-action list-group-item-info">
                    {{ users[i].user_name }}
                    <span class="badge badge-primary badge-pill">{{ users.posts|length }}</span>
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-2">
            <div class="list-group">
                {% for i in range(users|length // 5, users|length // 5 * 2) %}
                <a href="./blog?user_id={{users[i].id}}" class="list-group-item list-group-item-action list-group-item-info">
                    {{ users[i].user_name }}
                    <span class="badge badge-primary badge-pill">{{ users.posts|length }}</span>
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-2">
            <div class="list-group">
                {% for i in range(users|length // 5 * 2, users|length // 5 * 3) %}
                <a href="./blog?user_id={{users[i].id}}" class="list-group-item list-group-item-action list-group-item-info">
                    {{ users[i].user_name }}
                    <span class="badge badge-primary badge-pill">{{ users.posts|length }}</span>
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-2">
            <div class="list-group">
                {% for i in range(users|length // 5 * 3, users|length // 5 * 4) %}
                <a href="./blog?user_id={{users[i].id}}" class="list-group-item list-group-item-action list-group-item-info">
                    {{ users[i].user_name }}
                    <span class="badge badge-primary badge-pill">{{ users.posts|length }}</span>
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-2">
            <div class="list-group">
                {% for i in range(users|length // 5 * 4, users|length // 5 * 5) %}
                <a href="./blog?user_id={{users[i].id}}" class="list-group-item list-group-item-action list-group-item-info">
                    {{ users[i].user_name }}
                    <span class="badge badge-primary badge-pill">{{ users.posts|length }}</span>
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-1"></div>
        {% endif %}
    </div>
{% endblock %}